*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
}
.fecha{
    margin-top: 50px;
}
.fecha input{
    margin: 10px;
    justify-content: center;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size-adjust: inherit;
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(211, 168, 179);
    border-radius: 50px; 
}
#daysDiscount{
    text-align: center;
    width: 100px;
    height: 35px;
}